body {
    background-color: black;
    
}
img {
    width: 100%;
}
div {
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
}
h4 {
    margin: auto;
}
p {
    overflow: hidden;
}
body {
    display: block;
}
main {
    background-color: white;
}
footer {
    display: inline;
    background-color: blue;
}